node_modules/
.env
dist/

# terraform
.terraform/
zips/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*.tfvars
.terraform.lock.hcl
archives/